# Build / generator output
dist/
build/
*.egg-info/

# Python
__pycache__/
*.py[cod]
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# Poetry / venv
.venv/
poetry.lock

# Editor
.vscode/
.idea/
*.swp

kandra.md
